// Variabler för _layout.scss filen


// Ljust tema
$bg: white;
$text-dark: white;
$links-dark: white;

// Svart tema
$bg-dark: #262626;
$text-light: black;
$light-links: black;

// Färger
$primary: #9c4e2a;